html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width:100%;
}

/* header */
header {
    background-color: #49b8e4;
    padding: 15px ;

    /* rounded edges */
    border-radius: 10px;
    
}


header nav h1 a {
    text-decoration: none;
    color: white;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*wtf */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;   
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}



/* Block 1*/
#washJobPic {
    width: 100%;
    display: block;
}

.content-section {
    display: flex;
    height: 50vh;
}

.image-container{
    width: 50%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.text-container h2 {
    margin-bottom: 20px;
}

.text-container p {
    margin-bottom: 20px;
}

.text-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.text-container button:hover {
    background-color: #555;
}

/* Block 2*/

#table1 {
    width: 100%; /* Make the table full-width*/
    table-layout: fixed; /* Ensure equal column widths */
    border-collapse: separate;
    border-spacing: 10px; /* Space between table cells */
    width: 100%; /* Make the table full-width, adjust as needed */
  }
  
  #table1 th, #table1 td {
    border: 2px solid #ccc; /* Border around each cell */
    border-radius: 10px; /* Rounded edges */
    padding: 20px; /* Padding inside the cells */
    text-align: center; /* Align text to the left */
   
  }
  
  #table1 th {
    background-color: #49b8e4; /* Header background color */
    color: white; /* Text color for the headers */
    font-weight: bold; /* Make the headers bold */
  }
  
#table1 td {
    background-color: white; /* Light background color */
}

  #table1 td p {
    margin: 0; /* Remove extra margin from paragraphs */
  }
  
  #block2 {
    padding: 20px; /* Add padding around the entire section */
    background-color: #f0f0f0; /* Light background for the section */
  }
  
  #block2 h1 {
    text-align: center; /* Center the heading */
  }

.center-button {
    text-align: center;
    margin-top: 20px;
}

.center-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #49b8e4;
    color:white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

/* Google Maps / Block 3*/

#map-headline {

    background-color: #49b8e4;
    color: white;
    text-align: center;
    width : 100%;
    /*rounded edges */
    border-radius: 10px;

}

.gps-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url(photos/lawn.PNG);
    background-size: cover;
    
   
    
}

#map-container {
    padding: 10px;

}

/* Footer */


.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }